/*
Search Module
*/

.search-module {
  align-items: center;
  display: flex;
  flex-flow: row;

  .search-module__input {
    align-items: center;
    background: $color-white;
    display: flex;
    position: relative;

    i {
      color: $color-black;
    }
  }

  input {
    background: transparent;
    border: none;
    height: 32px;
  }

  .shopping {
    align-items: center;
    display: flex;
    background: $color-blue;
    height: 48px;
    justify-content: center;
    width: 48px;
  }
}

/*
  Login Module
*/
.login {
  align-items: center;
  display: flex;

  a {
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
  }
}

/*
  Product Module
*/
.layout {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "bigshoes bigshoes  infoshoes"
    "bigshoes bigshoes  detailshoes"
    "bigshoes bigshoes  configproduct"
    "look look configproduct";
  position: relative;
}

.shoes {
  background-color: $color-darkwhite;
  max-height: 566px;
  position: absolute;
  top: 80px;
}

.bigshoes {
  background-color: $color-darkwhite;
  grid-area: bigshoes;
  text-align: center;

  img {
    width: 800px;
  }
}

.detailshoes {
  grid-area: detailshoes;
}

.infoshoes {
  grid-area: infoshoes;
}

.look {
  grid-area: look;
}

.configproduct {
  grid-area: configproduct;
}

/*
Vertical Gallery
*/

.vertical-gallery {
  display: flex;
  flex-flow: column;
  margin-left: 20px;
  max-height: 568px;
  overflow: hidden;
  position: relative;

  img {
    border: 1px solid $color-black;
    cursor: pointer;
    height: 54px;
    margin-bottom: 10px;
    transition: transform .2s cubic-bezier(.3,0,.45,1);
    width: 54px;
  }

  .icon-more {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    border-bottom: 2px solid $color-black;
    width: 100%;

    .expand {
      align-items: center;
      background: $color-black;
      display: flex;
      height: 25px;
      justify-content: center;
      width: 30px;

      i {
        color: $color-white;
        font-weight: 400;
      }
    }
  }
}

/*
  Breacrumb
*/

.breadcrumb {
  align-items: center;
  display: flex;
  margin: 10px 0;
  padding-left: 30px;

  a {
    color: $color-black;
    font-size: 14px;
    padding: 2px 0;
    transition: 100ms all linear;
    
    &:hover {
      background: $color-black;
      color: $color-white;
    }
  }

  ul {
    align-items: center;
    display: flex;
  
    span {
      font-size: 14px;
      margin: 0 5px;
    }
    
  }

  .arrow-left {
    transform: rotate(180deg);
  }

  .back {
    margin-right: 20px;

    a {
      font-size: 13px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    i {
      font-size: 16px;
      margin-right: 10px;
    }

    &:hover {
      background: $color-black;

      a {
        color: $color-white;
      }

      i {
        color: $color-white;
      }
    }
  }
}


/*
UspHeader
*/

.uspheader {
  align-items: center;
  border-bottom: 1px solid $color-lightgray;
  display: flex;
  flex-flow: row;
  height: 40px;
  justify-content: center;

  div {
    align-items: center;
    display: flex;
    margin-right: 50px;
  }

  a {
    color: $color-black;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .logo {
    height: 19px;
    margin: 0 7px 0;
    width: 19px;
  }

  i {
    margin-right: 7px;
  }
}

/*
  Rating
*/

.rating {
  align-items: center;
  display: flex;
  flex-flow: row;

  i {
    font-size: 16px;
  }
  
}

/*
Info
*/

.info {
  padding: 20px;
  
  a {
    color: $color-black;
    font-size: 16px;
  }

  .info--rating {
    align-items: center;
    display: flex;

    a {
      font-size: 14px;
      margin-left: 10px; 
    }
  }
  
  .info--titles {
    margin-top: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 30px;
  }

  .value {
    display: block;
  }
}

/*
Available Colors
*/

.available {
  padding: 0 20px;

  .available--tags {
    display: flex;
    flex-flow: row wrap;
    margin: 10px 0;

    li {
      span {
        color: $color-gray;
        font-family: 'AdihausDIN-Regular';
        font-size: 13px;
        letter-spacing: 2px;
        text-transform: uppercase;
        
        &:nth-of-type(2) {
          margin: 0 10px;
        }
      }
    }
    
  }

  .available--colors {
    display: grid;
    grid-template-columns: repeat(4, 1fr [col-start]);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    .item-cover {
      align-items: center;
      
      display: flex;
      height: 70px;
      justify-content: center;
      width: 70px;

      img {
        border-radius: 50%;
      }

      .item--selected {
        position: relative;
      }

      .item--check {
        align-items: center;
        background-color: $color-black;
        border-radius: 50%;
        right: 0;
        top: 0;
        display: flex;
        height: 25px;
        justify-content: center;
        position: absolute;
        width: 25px;

        i {
          color: $color-white;
          font-size: 18px;
        }
      }
    }
  }
}

/*
Item Cart
*/
.itemcart {
  margin-top: 30px;

  .ruler {
    align-items: center;
    display: flex;
    flex-flow: row;
    padding: 0 20px;
  }

  .lists {
    display: flex;
    flex-flow: row;
    padding: 0 20px;
    position: relative;
    
    .listsizes {
      width: 70%;
      
      &:nth-of-type(2) {
        margin-left: 10px;
        width: 30%;
      }
      
    }
  }

  .action-buttons {
    display: flex;
    flex-flow: row;
    margin-top: 10px;
    padding: 0 20px;
  }

  .shipping-links {
    margin-top: 20px;
    padding: 0 20px;
  }
}

/*
ListSizes
*/

.listsizes {
  margin-top: 10px;

  a {
    align-items: center;
    color: $color-black;
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

    i {
      transition: 100ms all linear;
    }
  }

  .list--options {
    background: $color-white;
    border: 1px solid $color-gray;
    margin-top: -1px;
    padding: 10px;
    position: absolute;
    transition: 100ms linear all;

    .list--options-items {
      &.complex {
        display: flex;
        flex-flow: row wrap; 
        
        button {
          background: transparent;
          border: 1px solid $color-gray;
          cursor: pointer;
          display: flex;
          justify-content: flex-start;
          margin: 5px;
          padding: 10px 15px;
          transition: 100ms linear all;
          width: auto;

          &.selected-size, &:hover {
            border-color: $color-black;
            border-bottom-width: 2px;
          }
        }
      }

      &.simple {
        display: flex;
        flex-flow: column;
        padding: 0;

        button {
          background: $color-white;
          border: none;
          border-bottom: 1px solid $color-lightgray;
          cursor: pointer;
          font-size: 16px;
          font-family: 'AdihausDIN-Regular';          
          height: 50px;

          &:focus {
            outline: 1px solid #fff;
            outline-offset: -4px;
          }
        
          &:active {
              transform: scale(0.99);
          }

          &.selected-size, &:hover {
            background-color: $color-darkwhite;
            font-weight: 700;
          }
        }
      }
    }
    
    &.simple {
      height: 200px;
      overflow-y: scroll;
      padding: 0;
      width: 26%;
    }
    
    &.complex {
      width: 90%;
    }

  }

  .list--item {
    align-items: center;
    border: 1px solid $color-gray;
    display: flex;
    height: 50px;
    line-height: 20px;
    padding: 0 20px;

    &.closed + .list--options {
        transform: translate(-9999px);
        display: none;
    }

    &.open {
      a {
        i {
          transform: rotate(180deg);
        }
      }
    }

    &.open + .list--options {
      transform: translate(0);
      display: block;
      z-index: 5;
    }

    
  }
}

/*
Button
*/

.button {
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  font-family: 'AdihausDIN-Bold';
  font-size: 13px;
  height: 50px;
  justify-content: space-between;
  padding: 0 21px;
  position: relative;
  text-transform: uppercase;
  transition: 100ms all linear;
  width: 100%;
  z-index: 2;

  i {
    transform: rotate(180deg);
  }

  &.paypal {
    img {
      height: 50px;
      transform: scale(2);
      margin-left: 20px;
    }

    &:hover img {
      opacity: .4;
    }
  }

  &.dark {
    background: $color-black;
    color: $color-white;
    transform: translate(-3px,-3px);
    letter-spacing: 2px;

    &::after {
      border: 1px solid $color-black;
      content: '';
      background: transparent;
      height: 50px;
      position: absolute;
      transform: translate(-18px, 3px);
      width: 100%;
      z-index: -1;
    }

    &:hover {
      color: $color-gray;
    }
  }

  &.light, &.paypal {
    border: 1px solid $color-black;
    background: $color-white;
    color: $color-black;
  }
}

/*
Like
*/

.like {
  align-items: center;
  border: none;
  background: transparent;
  border: 1px solid $color-black;
  display: flex;
  cursor: pointer;
  height: 50px;
  justify-content: center;
  padding: 0 21px;
  margin-left: 10px;
  transition: 100ms all linear;
  text-align: center;
  width: 50px;

  &:hover {
    i {
      color: $color-gray;
    }
  }
}

/*
Link
*/

.link--base {
  color: $color-black;
  transition: 100ms all linear;

  &:hover {
    background: $color-black;
    color: $color-white;
  }
}

.link--icon {
  align-items: center;
  display: flex;
  justify-content: center;

  i {
    margin-right: 10px;
  }
}

/*
Modal
*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000003a;
  transition: opacity 0.2s ease;
  z-index: 5;
}

.modal__show {
  background-color: #fff;
  border-radius: 2px;
  display: block;
  margin: 0px auto;
  max-height: 92vh;
  min-width: 675px;
  max-width: 1280px;
  padding: 20px;
  position: relative;
  top: 25%;
  transition: transform 0.2s ease;
  z-index: 5;

  .modal--button-close {
    align-items: center;
    background-color: $color-white;
    border: 1px solid $color-black;
    cursor: pointer;
    display: flex;
    height: 2rem;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 2rem;

    i {
      font-size: 28px;
    }
  }

  .modal--product-data {
    margin-top: 20px;

    span {
      display: block;
      font-size: 14px;
    }
  }

  .modal--product-data,
  .modal--product-left,
  .modal--product-right{
    display: flex;
    flex-flow: row;
  }

  .modal--product-left {
    border-right: 1px solid $color-black;
    img {
      width: 50%;
    }
    .modal--product-left-info {
      padding: 0 10px;

      .modal--price {
        font-size: 14px;
        margin: 15px 0;
      }
    }
  }

  .modal--product-right {
    flex-flow: column;
    padding: 0 20px;

    .modal--product-bag-price {
      border-bottom: 1px solid $color-black;
      padding: 15px 0;
    }

    .modal--product-bag-total {
      padding-top: 15px;
    }

    .bag-block {
      align-items: center;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
    }

    .total {
      font-size: 16px;
    }

    .bag-blockv {
      display: flex;
      flex-flow: column;
    }

    .bag-buttons {
      margin-top: 10px;
      
      button {
        margin-top: 10px;
      }
    }
  }
}

.modal__hide {
  display: none;
}

/*
Checkout
*/
.checkout {
  margin-top: 30px;

  .checkout-total {
    margin: 15px 0;
  }

  .checkout-detail {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  .checkout-items {
    width: 55%;
  }

  .checkout-payment {
    padding-top: 20px;
    width: 40%;
  }
}

/*
Checkout Buttons
*/

.checkout-buttons--template {
  display: flex;

  &.vertical {
    align-items: center;
    flex-flow: column;

    button {
      margin-bottom: 20px;
  
      &:nth-of-type(2) {
        margin: 20px 0 0 0;
      }
    }
  }

  &.horizontal {
    align-items: center;
    flex-flow: row;
    justify-content: space-between;

    button {
      margin-right: 20px;
  
      &:nth-of-type(2) {
        margin: 0 0 0 20px;
      }
    }
  }

  
}

/*
Item Checkout
*/
.item-checkout {
  border: 1px solid $color-black;
  display: flex;
  margin: 20px 0 40px 0;
  position: relative;

  .item-checkout-info {
    padding: 30px 50px 0 30px;
  }

  .item-checkout-buttons {
    display: flex;
    flex-flow: column;
    position: absolute;
    right: 10px;
    top: 10px;

    button {
      border: none;
      cursor: pointer;
      background: transparent;
      margin-bottom: 20px;

      &:hover {
        i {
          color: $color-gray;
        }
      }
    }
  }
}