@font-face {
  font-family: 'AdihausDIN-Bold';
  src: local('adihausBold'), url(../fonts/AdihausDIN-Bold.woff2) format('woff');
}

@font-face {
  font-family: 'AdihausDIN-Regular';
  src: local('adihausRegular'), url(../fonts/AdihausDIN-Regular.woff2) format('woff');
}

@font-face {
  font-family: 'adineuePRO-Bold';
  src: local('adineueBold'), url(../fonts/adineuePRO-Bold.woff2) format('woff');
}

@font-face {
  font-family: 'adineuePRO-Regular';
  src: local('adineueRegular'), url(../fonts/adineuePRO-Regular.woff2) format('woff');
}