$color-black: #000;
$color-white: #fff;
$color-blue: #0071ae;
$color-yellow: #ede734;
$color-gray: #767677;

/*
    Gradients, effects, etc.
  */
$gray-gradient: linear-gradient(90deg,#000 30%,transparent 50%),linear-gradient(180deg,#000 0,#363738);