$color-black: #000;
$color-white: #fff;
$color-blue: #0071ae;
$color-yellow: #ede734;
$color-gray: #767677;
$color-lightgray: #c8cbcc;
$color-darkwhite: #eceff0;

/*
Breakpoints
*/
$breakpoint-mobile: 453px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-xl: 1600px;

/*
    Gradients, effects, etc.
  */
$gray-gradient: linear-gradient(90deg,#000 30%,transparent 50%),linear-gradient(180deg,#000 0,#363738);